/* Layout */
body {
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

p, h1, h2, h3, h4, h5 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}

a, a:hover, a:visited, a:focus {
	text-decoration: none;
	color: #2b2b2b;
}

li {
	display:block;
}

footer {
	bottom:0;
	width:100%;
	background-color: #FFF;
	font-size: 10px;
}

footer p {
	padding:5px;
	float:left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
	font-size: 10pt;
	color: #2b2b2b;
}

footer p#sponsor {
	float:right;
	margin:0;
	margin-right:45px;
	margin-bottom:-6px;
}

footer img {
	float:right;
	bottom:0;
}

header {
	background-color: #000;
	height: 250px;
}

.layout-header h1, .layout-header p {
	float: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}

.layout-header, .container {
	width: 900px;
	margin: auto;
	position: relative;
	clear: both;
}

header {
	margin-bottom: -85px;
}

header #sharp {
		height:255px;
}

header img#adgdf {
	float:right;
}

header a#ads-gdf p {
	margin-left:230px;
	margin-bottom: 0;
	color:#fff;
	font-size: 9pt;
}

.layout-header:after, .container:after {
	clear: both;
	display: block;
	visibility: hidden;
	content: '';
}

nav {
	float:left;
}

nav img {
	padding:5px;
}

.layout-header p#page-title {
	color: white;
	margin-left: 30px;
	font-size: 16pt;
	padding-top: 10px;
	margin-bottom:31px;
}

nav ul {
	height: 65px;
}

nav li {
	padding: 10px 20px 10px 20px;
	float:left;
	cursor:pointer;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	height: 50px;
}

.active{
	background-color:#2b2b2b;
}

#displayer div.MenuDisplay ul a#tedx-now.active, #displayer div.MenuDisplay ul a#tedx-map.active {
	background-color: #454444;
}

nav li:hover {
	background-color: #2b2b2b;
}

nav a, nav a:active, nav a:visited, nav a:hover {
	text-decoration: none;
	color: #FF3500;
}

nav a span {
	color:white;
	font-size: 12px;
}

.displayer {
	border: 15px solid #3d3b3b;
	background-color:#3d3b3b;
	height: 300px;
}

.displayer h4 {
	margin:0;
	margin-top:7px;
	margin-left:15px;
	color: white;
	float: left;
}

.displayer .event h4 {
	margin:10px 0 0 10px;
	float:none;
}

.displayer p {
	margin: 0;
	color: white;
	margin-top: 5px;
	font-size: 14px;
	word-wrap: break-word;
}

#displayer img {
	margin-bottom: -275px;
}

#displayer ul {
	padding-left: 15px;
	margin-top: 0;
	position: absolute;
	top:30px;
}

#displayer li {
	text-decoration: none;
	display: inline-block;
}

#displayer div.MenuDisplay ul a {
	display:inline;
	margin-right: 5px;
	background-color: #736e6e;
	padding:7px;
	cursor:pointer;
}

#displayer ul a span {
	text-decoration: none;
	color:#FFF;
	font-size: 14px;
	font-weight: lighter;
}

#displayer div.MenuDisplay ul a:hover, #displayer div.MenuDisplay ul a span:hover {
	background-color: #454444;
}

#displayer div.tedxLive ul {
  width: 820px;
  margin-top: -15px;
  padding: 0;
}


div#main {
	float:left;
	width:500px;
	margin-right: 0;
	margin-top:10px;
}

div#twitter-posts {
	margin-top:20px;
	margin-bottom: 30px;
	float:right;
	width:310px;
	background-color:white;
}

div.twitter h4 {
	margin: 10px;
}

div.twitter h4 img {
	padding-right: 10px;
}

div.twitter {
	background-color:white;
}

div#talks {
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

div#talks h4 {
	margin-bottom: 0;
}

div#talks h4, div#twitter-posts h4, div#past-talks h4 {
	font-weight: bolder;
}

div#talks div.talks {
	width: 500px;
}

div#talks div.talks ul {
	padding-left:0;
	margin-top:0;
}

div#talks div.talks a {
	text-decoration: none;
	color: #444;
}

div#talks div.talks li {
	display: inline-block;
	padding: 10px;
}

div.next-events ul {
	margin-top: 50px;
	margin-left: -30px;
}

div.next-events li {
	display:inline;
}

div.itemEvent {
	float:left;
	width: 265px;
	margin-right: 10px;
	margin-left: 10px;
}

div#past-talks {
	padding:20px;
}

div#grabbing-twitter, div#about-page {
	padding:20px;
	padding-top: 5px;
	background-color: white;
	min-height: 500px;
}

div#grabbing-twitter {
	width: 1000px;
	margin-left:-50px;
}

div#grabbing-twitter ul {
	padding:0;
}

div#grabbing-twitter h4 {
	margin-left:20px;
	color: #444;
}

#posts ul {
	padding-left:15px;
}

#posts ul a {
	text-decoration: none;
	color: #444;
}

#posts ul a:hover {
	color: #777;
}

li.tweet {
	font-size: 10.5px;
	float:left;
	display:block;
	padding-right: 20px;
	margin-bottom:5px;
}

#posts li span {
	float:right;
	width:220px;
	padding-left:15px;
}

#posts li span.name-author {
	text-align: right;
	color: #AAA;
}

.center-tweets {
	padding-left:25px;
}

#map-canvas {
	height: 300px;
	width: 100%;
}

#displayer li.active {
	background-color: #222;
}

#playlist-youtube {
	width: 510px;
}

#playlist-youtube ul {
	padding:0;
}

#playlist-youtube ul a {
	text-decoration: none;
	color: gray;
}

.talks {
	display:inline-block;
	padding: 10px 20px 10px 0px;
	width:140px;
}

.talks img {
	width: 140px;
}

.name-talk {
	font-size:12px;
	word-wrap: break-word;
}

#past-talks ul {
	padding-left: 0;
}

#past-talks ul li {
	display:inline-block;
	padding: 10px 10px 10px 10px;
	width:180px;
	height: 160px;
}

#past-talks ul li img {
	width: 180px;
}

#past-talks a{
	text-decoration: none;
	color: #333;
}

.address-event {
	font-size: 16px;
	margin-left:10px;
}

.displayer.conferences ul {
	margin-top: 60px;
	padding-left:10px;
}

.displayer.conferences li {
	display: inline-block;
}

.displayer.conferences li img {
	width: 265px;
}

#displayer .tedxLive ul {
	height: 300px;
	width: 850px;
}

#displayer .tedxLive ul li {
	width: 870px;
	height: 100%;
}

.border {
	width: 160px;
	margin-top: 90px;
	margin-left: 330px;
	position: absolute;
	border: solid 15px rgba(0,0,0,0.5);
}

.clickandplay {
	width: 130px;
	text-align: center;
	padding: 5px 15px 5px 15px;
	background-color: #2b2b2b;
	font-size: 10pt;
}

.clickandplay:hover {
	background-color: #333;
}

#displayer div.tedxLive .clickandplay img {
	width:40px;
	margin-bottom: 0;
}

#about-page ul {
	padding-right:40px;
}

p.articleBody {
	text-align:justify;
	text-justify:inter-word;
}

p.articleBody img {
	float:left;
	padding: 0 20px 20px 0;
}

/**** Item Grabbing *****/
#grabbing li {
	display:inline;
}
.item {
/*  min-width: 100px;
  max-width: 300px;*/
  padding: 10px;
  margin:5px;
  float: left;
  background-color:#e9e7e7;
  font-size:9pt;
  word-wrap: break-word;
  text-align:justify;
	text-justify:inter-word;
}

.profile-pix-miny {
	float:right;
	width: 40px;
	height: 40px;
	border:1px solid #999;
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	background: url('../layout-img/default_profile.png') no-repeat;
	background-size: cover;
}

.footer-grab {
	float:left;
	margin-top:0;
}

.col1 { width: 80px; }
.col2 { width: 235px; }
.col3 { width: 460px; }
.col4 { width: 380px; }
.col5 { width: 470px; }
.col6 { width: 530px; }

.col1 img { max-width: 150px; margin-bottom: 10px;}
.col2 img { max-width: 235px; margin-bottom: 10px;}
.col3 img { max-width: 260px; margin-right: 20px; margin-bottom: 10px; }
.col4 img { max-width: 380px; margin-bottom: 10px;}
.col5 img { max-width: 470px; margin-bottom: 10px;}
.col6 img { width: 235px; margin-bottom: 10px;}

.col3 embed, .col5 embed { height: 160px; width: 260px; margin-bottom: 10px; margin-right: 15px; }
