/* Layout */
body {
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

a {
	text-decoration: none;
}

footer {
	bottom:0;
	height:60px;
	width:100%;
	background-color: #FFF;
	font-size: 10px;
}

footer p {
	padding:5px;
	float:left;
}

footer img {
	float:right;
	bottom:0;
}

header {
	background-color: #454444;
	height: 350px;
}

.layout-header h1 {
	float: left;
}

.layout-header, .container {
	width: 850px;
	margin: auto;
	position: relative;
	clear: both;
}

header {
	margin-bottom: -185px;
}

.layout-header:after, .container:after {
	clear: both;
	display: block;
	visibility: hidden;
	content: '';
}

nav {
	float:left;
	width: 610px;
	padding: 5px;
	margin-left: 5px;
}

.layout-header h1#page-title {
	color: white;
	margin-left: 30px;
	font-size: 16pt;
	padding-top: 20px;
	margin-bottom:0;
}

nav ul {
	height: 65px;
}

nav li {
	padding: 10px 20px 10px 20px;
	float:left;
	cursor:pointer;
}

.active {
	background-color:#333;
}

nav li:hover {
	background-color: #222;
}

nav a, nav a:active, nav a:visited, nav a:hover {
	text-decoration: none;
	color: #FF3500;
}

nav a span {
	color:white;
	font-size: 12px;
}

.displayer {
	border: 15px solid #2b2b2b;
	background-color:#2b2b2b;
	height: 300px;
}

.displayer h4 {
	margin:0;
	margin-top:7px;
	margin-left:15px;
	color: white;
	float: left;
}

.displayer p {
	margin: 0;
	color: white;
}

.displayer p {
	margin-top:5px;
	font-size: 14px;
}	

#displayer img {
	margin-bottom: -275px;
}

#displayer ul {
	padding-left: 15px;
	margin-top: 0;
	position: absolute;
	top:30px;
}

#displayer ul li {
	display:inline;
	margin-right: 5px;
	background-color: #444;
	padding:7px;
	cursor:pointer;
}

#displayer ul li span {
	text-decoration: none;
	color:#888;
	font-size: 14px;
}

#displayer ul li:hover, #displayer ul li span:hover {
	background-color: #222;
}

div#main {
	float:left;
	width:500px;
	margin-right: 0;
	margin-top:10px;
}

div#twitter-posts {
	margin-top:20px;
	margin-bottom: 30px;
	float:right;
	width:310px;
	background-color:white;
}

div.twitter h4 {
	margin: 10px;
}

div.twitter h4 img {
	padding-right: 10px;
}

div.twitter {
	background-color:white;
}

div#talks {
	float: left;
	padding-left:20px;
	padding-top: 20px;
}

div.next-events ul {
	margin-top: 50px;
	margin-left: -30px;
}

div.next-events li {
	display:inline;
}

div.itemEvent {
	float:left;
	width: 250px;
	padding-right: 20px;
}

div#past-talks {
	padding:20px;
}

div#grabbing-twitter {
	padding:20px;
	padding-top: 5px;
	background-color: white;
	min-height: 500px;
}

div#grabbing-twitter h4 {
	margin-left:20px;
	color: #444;
}

#posts ul {
	padding-left:15px;
}

#posts ul a {
	text-decoration: none;
	color: #444;
}

#posts ul a:hover {
	color: #777;
}

li.tweet {
	font-size: 10.5px;
	float:left;
	display:block;
	padding-right: 20px;
	margin-bottom:5px;
}

#posts li span {
	float:right;
	width:220px;
	padding-left:15px;
}

#posts li span.name-author {
	text-align: right;
	color: #AAA;
}

.center-tweets {
	padding-left:25px;
}

#map-canvas {
	height: 300px;
	width: 100%;
}

#displayer li.active {
	background-color: #222;
}

#playlist-youtube {
	width: 510px;
}

#playlist-youtube ul {
	padding:0;
}

#playlist-youtube ul a {
	text-decoration: none;
	color: gray;
}

.talks {
	display:inline-block;
	padding: 10px 20px 10px 0px;
	width:140px;
}

.talks img {
	width: 140px;
}

.name-talk {
	font-size:12px;
	word-wrap: break-word;
}

#past-talks ul {
	padding-left: 0;
}

#past-talks a{
	text-decoration: none;
	color: #333;
}

.talks.events {
	display:inline-block;
	padding: 10px 10px 10px 10px;
	width:180px;
}

.talks.events img {
	width: 180px;
}

.address-event {
	font-size: 16px;
}
