/* Ad Stuff */
#bsap_1266451 {
	background: white;
	position: absolute;
	top: 21px;
	right: 0;

	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-shadow: 0 0 10px rgba(0,0,0,.4);
}

#bsap_1266451 div {
	background: transparent;
	border: none;
}

#bsap_1266451 a, #bsap_1266451 span {
}

/* Layout */
body {
	margin: 0;
	padding: 0;
	background-color: #EEE;
}

footer {
	bottom:0;
	height:60px;
	/*border:1px solid black;*/
	width:100%;
	background-color: #FFF;
	font-size: 10px;
}

footer p {
	padding:5px;
	float:left;
}

footer img {
	float:right;
	bottom:0;
}

header {
	background-color: #454444;
	height: 350px;
}

.layout-header h1 {
	float: left;
}

.layout-header, .container {
	width: 850px;
	margin: auto;
	position: relative;
	clear: both;
}

header {
	margin-bottom: -185px;
}

.layout-header:after, .container:after {
	clear: both;
	display: block;
	visibility: hidden;
	content: '';
}

nav {
	float:left;
	width: 610px;
	padding: 5px;
	margin-left: 5px;
}

.layout-header h1#page-title {
	color: white;
	margin-left: 30px;
	font-size: 16pt;
	padding-top: 20px;
	margin-bottom:0;
}

nav ul {
	height: 65px;
}

nav li {
	padding: 10px 20px 10px 20px;
	float:left;
	cursor:pointer;
}

nav li.active {
	background-color:#333;
}

nav li:hover {
	background-color: #222;
}

nav li a, nav li a:active, nav li a:visited {
	text-decoration: none;
	color: #FF3500;
}

nav li a > span {
	color:white;
	font-size: 12px;
}

.body-content {
}

.displayer {
	border: 15px solid #2b2b2b;
	background-color:#2b2b2b;
	height: 300px;
}

.displayer h4 {
	margin:0;
	margin-top:7px;
	margin-left:15px;
	color: white;
	float: left;
}

.displayer p {
	margin: 0;
	color: white;
}

.displayer p {
	margin-top:5px;
	font-size: 14px;
}	

#displayer img {
	margin-bottom: -275px;
}

#displayer ul {
	padding-left: 15px;
	margin-top: 0;
	position: absolute;
	top:30px;
}

#displayer ul li {
	display:inline;
	margin-right: 5px;
	background-color: #444;
	padding:7px;
	cursor:pointer;
}

#displayer ul li span {
	text-decoration: none;
	color:#888;
	font-size: 14px;
}

#displayer ul li:hover, #displayer ul li span:hover {
	background-color: #222;
}

div#main {
	float:left;
	width:500px;
	margin-right: 0;
	margin-top:10px;
}

div#twitter-posts {
	margin-top:20px;
	margin-bottom: 30px;
	float:right;
	width:310px;
	background-color:white;
}

div.twitter h4 {
	margin: 10px;
}

div.twitter {
	background-color:white;
}

div#talks {
	float: left;
	padding-left:20px;
	padding-top: 20px;
}

div.next-events ul {
	margin-top: 50px;
	margin-left: -30px;
}

div.next-events li {
	display:inline;
}

div.itemEvent {
	float:left;
	width: 250px;
	padding-right: 20px;
}

label[for="search-btn"] {
	float:right;
	padding: 1px;
	line-height: 1.5;
	border-radius: 0px 5px 5px 0px;
	background-color: #333;
}

input[type=search] {
	float:right;
	padding: 5px;
	padding-right:0;
	border-radius: 5px 0px 0px 5px;
	font-family: Helvetica;
	border: 0;
	background: #454444;
	line-height: 1.5;
	color: white;
}

div#past-talks {
	padding:20px;
}
