<div class="container">
  <div class="layout-header">
    <h1><a href="#"><img src="layout-img/tedx_logo.png" alt="TEDx en france" /></a></h1>
    <h1 id="page-title">Le réseau TEDx en France</h1>
    <nav>
      <ul>
        <li id="conferences-page">
          <a href="#conferences">
            <img src="" alt=""/>Conférences<br/>
            <span>Les vidéos des interventions</span>
          </a>
        </li>
        <li>
          <a href="#discussions">Discussions<br/>
            <span>Connecter et collaborer</span>
          </a>
        </li>
        <li>
          <a href="#about">A propos de TEDx en France<br/>
            <span>Découvrir le programme TEDx</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>