<div class="container">
  <div class="layout-header">
    <h1><a href="#"><img src="layout-img/tedx_logo.png" alt="TEDx en france" /></a></h1>
    <h1 id="page-title"><%= T('Le réseau TEDx en France') %></h1>
    <nav>
      <ul>
        <li id="conferences-page">
          <a href="#conferences">
            <img src="" alt=""/><%= T("Conférences") %><br/>
            <span><%= T("Les vidéos des interventions") %></span>
          </a>
        </li>
        <li id="discussions-page">
          <a href="#discussions"><%= T("Discussions") %><br/>
            <span><%= T("Connecter et collaborer") %></span>
          </a>
        </li>
        <li id="about-page">
          <a href="#about"><%= T("A propos de TEDx en France") %><br/>
            <span><%= T("Découvrir le programme TEDx") %></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>