<div class="container">
  <div class="layout-header">
    <h1><a href="#home"><img src="layout-img/tedx_logo.png" alt="TEDx en france" /></a></h1>
    <h1 id="page-title"><%= T('Le réseau TEDx en France') %></h1>
    <nav>
      <ul>
        <a href="#conferences">
          <li id="conferences-page">
            <img src="" alt=""/><%= T("Conférences") %><br/>
            <span><%= T("Les vidéos des interventions") %></span>
          </li>
        </a>
        <a href="#discussions">
          <li id="discussions-page">
          <%= T("Discussions") %><br/>
            <span><%= T("Connecter et collaborer") %></span>
          </li>
        </a>
        <a href="#about">
          <li id="about-page">
          <%= T("A propos de TEDx en France") %><br/>
            <span><%= T("Découvrir le programme TEDx") %></span>
          </li>
        </a>
      </ul>
    </nav>
  </div>
</div>