<div id="sharp" style="background: url(layout-img/sharp.png) repeat-x bottom;">
  <div class="container">
    <div class="layout-header">
      <h1><a href="#home"><img src="layout-img/TEDxlogo.png" alt="TEDxfrance" /></a></h1>
      <div id="country">
        <p id="page-title"><%= T('Le réseau TEDx en France') %></p>
      </div>

      <nav>
        <ul>
          <a href="#conferences">
            <li id="conferences-page">
              <img src="layout-img/users.png" alt=""/><%= T("Conférences") %><br/>
              <span><%= T("Les événements") %></span>
            </li>
          </a>
          <a href="#discussions">
            <li id="discussions-page">
            <img src="layout-img/bubble.png" alt=""/><%= T("Nouvelles") %><br/>
              <span><%= T("Partager et découvrir") %></span>
            </li>
          </a>
          <a href="#about">
            <li id="about-page">
            <img src="layout-img/coeur.png" alt=""/><%= T("A propos de TEDx France") %><br/>
              <span><%= T("Qui sommes nous ?") %></span>
            </li>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</div>