<!-- <p>[[ List of next events // API TED ]]</p> -->
<div class="next-events">
  <ul>
    <li>
      <div class="itemEvent">
        <img src="layout-img/event1.png" alt="" width="260">
        <p>01/01/1917 - Paris</p>
      </div>
    </li>
    <li>
      <div class="itemEvent">
        <img src="layout-img/event2.png" alt="" width="260">
        <p>01/01/1917 - Toulouse</p>
      </div>
    </li>
    <li>
      <div class="itemEvent">
        <img src="layout-img/event3.png" alt="" width="260">
        <p>01/01/1917 - Montpellier</p>
      </div>
    </li>

    <!--
      example child:
      <li>
        <div class="itemEvent">
          <img src="<%= children.srcThumbnail%>" alt="" width="230">
          <p><%= children.date %> - <%= children.city %></p>
        </div>
      </li>
     -->
  </ul>
</div>