<!-- <p>[[ List of next events // API TED ]]</p> -->
<div class="next-events">
  <ul>
    <li>
      <div class="itemEvent">
        <img src="layout-img/tedx_logo.png" alt="" width="250">
        <p>01/01/1917 - Paris</p>
      </div>
    </li>
    <li>
      <div class="itemEvent">
        <img src="layout-img/tedx_logo.png" alt="" width="250">
        <p>01/01/1917 - Lyon</p>
      </div>
    </li>
    <li>
      <div class="itemEvent">
        <img src="layout-img/tedx_logo.png" alt="" width="250">
        <p>01/01/1917 - Lille</p>
      </div>
    </li>

    <!--
      example child:
      <li>
        <div class="itemEvent">
          <img src="<%= children.srcThumbnail%>" alt="" width="230">
          <p><%= children.date %> - <%= children.city %></p>
        </div>
      </li>
     -->
  </ul>
</div>