<div id="ads-logo-info">
  <center>
    <img src="layout-img/gdf-suez.jpg" alt="" width="180">
    <h3>GDF Suez, partenaire officiel du portail TEDx France</h3>
  </center>
</div>
<div class="ads-info">
  <p>GDF SUEZ inscrit la croissance responsable au cœur de ses métiers (électricité, gaz naturel, services) pour relever les grands enjeux énergétiques et environnementaux : répondre aux besoins en énergie, assurer la sécurité d’approvisionnement, lutter contre les changements climatiques et optimiser l’utilisation des ressources.</p>
  <p>Le Groupe propose des solutions performantes et innovantes aux particuliers, aux villes et aux entreprises en s’appuyant sur un portefeuille d’approvisionnement gazier diversifié, un parc de production électrique flexible et peu émetteur de CO<SUB>2</SUB> et une expertise unique dans quatre secteurs clés : le gaz naturel liquéfié, les services à l’efficacité énergétique, la production indépendante d’électricité et les services à l’environnement.</p>
  <p>GDF SUEZ compte 219 300 collaborateurs dans le monde pour un chiffre d’affaires en 2012 de 97 milliards d’euros. Coté à Paris, Bruxelles et Luxembourg, le Groupe est représenté dans les principaux indices internationaux : CAC 40, BEL 20, DJ Euro Stoxx 50, Euronext 100, FTSE Eurotop 100, MSCI Europe, ASPI Eurozone, Vigeo World 120, Vigeo Europe 120 et Vigeo France 20.</p>

  <div class="ads-info-list">
    <div class="list-info-ads chiffre-group">
      <h3 class="black">Chiffres Groupe</h3>
      <ul>
        <li>
          <b>219 300</b> collaborateurs dans le monde<br>
            - dont 61 300 dans l’électricité et le gaz,<br>
            - 78 400 dans les services à l’énergie,<br>
            - et 79 600 dans les services à<br>
              l'environnement
        </li>
        <li><b>97 milliards</b> d’euros<br>de chiffre d’affaires en 2012.</li>
      </ul>

      <ul>
        <li>Une présence dans près de <b>70</b> pays</li>
        <li><b>7-8 milliards</b> d’euros d’investissements<br>par an sur la période 2013-2015.</li>
        <li><b>11 milliards</b> d’euros d’optimisation d’actifs<br>en 2013-2014.</li>
        <li><b>1 100</b> chercheurs et experts<br>dans <b>9</b> centres de R&D.</li>
      </ul>
    </div>

    <div style="clear:both"></div>
    
    <div class="list-info-ads">
      <h3 class="grey">Électricité</h3>
      <ul class="grey">
        <li>
          <b>1<sup>er</sup></b> producteur<br>indépendant dans le<br>monde.
        </li>
        <li>1<sup>er</sup></b> producteur mondial<br/> d’électricité non nucléaire.</li>
        <li>1<sup>er</sup></b> producteur<br/> indépendant dans les pays<br>du Golfe Persique, au Brésil<br>et en Thaïlande.</li>
        <li><b>116</b> GW de capacités de<br>production électrique<br>installées.</li>
        <li><b>10</b> GW de capacités en<br/>construction.</li>
        <li><b>50%</b> d’augmentation des<br/>Gaz naturel<br/>capacités en énergie<br/>renouvelable entre 2009 et<br/>2015.</li>
      </ul>
    </div>
    
    <div class="list-info-ads">
      <h3 class="grey">Gaz naturel</h3>
      <ul class="grey">
        <li>Un portefeuille<br/>d’approvisionnement<br/>de <b>1 208</b> TWh.</li>
        <li><b>2<sup>e</sup></b> acheteur en Europe.</li>
        <li><b>1<sup>ers</sup></b> réseaux de transport<br/>et de distribution en<br/>Europe.</li>
        <li><b>1<sup>er</sup></b> vendeur de capacités<br/>de stockage en Europe.</li>
        <li><b>344</b> licences d’exploration<br/>et/ou de production dans<br/>16 pays.</li>
        <li><b>836</b> Mbep de réserves<br/>prouvées et probables.</li>
      </ul>
    </div>
    




    <div class="list-info-ads services-energie">
      <h3 class="grey">Services à l'énergie</h3>
      <ul class="grey">
        <li><b>1<sup>er</sup></b> fournisseur de services<br/>d’efficacité énergétique et<br/>environnementale dans le<br/>monde.</li>
        <li><b>1 300</b> implantations en<br/>Europe.</li>
        <li><b>180</b> réseaux urbains de<br/>chaleur et de froid gérés<br/>dans le monde.</li>
        <li><b>48</b> partenariats public-<br/>privé à travers l’Europe.</li>
      </ul>
    </div>
    
    <div class="list-info-ads">
      <h3 class="grey">GNL</h3>
      <ul class="grey">
        <li><b>1<sup>er</sup></b> importateur en Europe.</li>
        <li><b>3<sup>e</sup></b> importateur dans le<br/>monde.</li>
        <li><b>2<sup>e</sup></b> opérateur de terminaux<br/>méthaniers en Europe.</li>
        <li>Une flotte de <b>17</b><br/>méthaniers dont deux<br/>navires regazéifieurs.</li>
      </ul>
    </div>

    <div class="list-info-ads services-env">
      <h3 class="grey">Services à l'environnement</h3>
      <ul class="grey">
        <li><b>2<sup>e</sup></b> fournisseur de services<br/>à l’environnement dans le<br/>monde.</li>
        <li><b>97 millions</b> d'habitants<br/>alimentés en eau potable.</li>
        <li><b>57 millions</b> de<br/>particuliers desservis en<br/>propreté.</li>
        <li><b>66 millions</b> de<br/>particuliers desservis en<br/>assainissement.</li>
      </ul>
    </div>

    <div style="clear:both"></div>
  </div>
</div>