<div id="main-ad">
<div id="google_image_div" style="overflow:hidden;"><a id="aw0" target="_blank" href="http://googleads.g.doubleclick.net/aclk?sa=L&amp;ai=Cv9x79jUYU7arLMeoigbl_IGIC46kyq0GAAAQASD-k4gqULu8xDdg-_n8gogKyAEC4AIAqAMByAOdBKoEYk_QEPslXf7zhGx7QDtQL5gHvCxTne7G_jYOlUsU5y3iWrPrtOz4pucdjsni9ceKxDRW-UW_YHbPGbQXZfbvOcUBiLKQ_EuBG0W1mlUTOOJKlzPL86-PPo-CRcHMVU3H8K994AQBoAYU&amp;num=0&amp;sig=AOD64_20NUlLsmSIYCzan-QEzWD2ZzXEGg&amp;client=ca-pub-9391508225764664&amp;adurl=http://conferences.ted.com/TEDActive2014/video.php&amp;nm=1" onfocus="ss('aw0')" onmousedown="st('aw0')" onmouseover="ss('aw0')" onclick="ha('aw0')"><img src="http://pagead2.googlesyndication.com/simgad/16132733002615491290" border="0" width="300" height="243" alt="" class="img_ad"></a></div>
</div>
<div id="twitter-posts">
  <!-- Twitter posts -->
  <div class="twitter">
    <h4>
      <img src="layout-img/twitter-logo.png" alt="" width="50"><%= T("Conversations TEDx") %>
    </h4>
  </div>
  <div id="posts">
    <div class="center-tweets">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23TEDx" data-widget-id="<%= Joshfire.factory.config.template.options.idwidget %>" data-chrome="noheader nofooter noborders transparent" dtn="true" width="260" height="400" lang="<%= Joshfire.factory.config.template.options.language %>"></a>
      <script type="text/javascript" src="js/lib/twitter/widget.js"></script>
    </div>
  </div>
</div>