
<div id="twitter-posts">
  <!-- Twitter posts -->
  <div class="twitter">
    <h4>
      <img src="layout-img/twitter-logo.png" alt="" width="50"><%= T("Conversations TEDx") %>
    </h4>
  </div>
  <div id="posts">
    <div class="center-tweets">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23TEDx" data-widget-id="<%= Joshfire.factory.config.template.options.idwidget %>" data-chrome="noheader nofooter noborders transparent" dtn="true" width="260" height="400" lang="<%= Joshfire.factory.config.template.options.language %>"></a>
      <script type="text/javascript" src="js/lib/twitter/widget.js"></script>
    </div>
  </div>
</div>