<div id="panel-grabbing">
  <h4><%= T("Les discussions autour de TEDx en France") %></h4>
  <div id="container">
    <div id="grabbing-twitter">
        <%= children.listTweetsGrabbing %>
      <div style="clear: both;"></div>
    </div>
    <script type="text/javascript" src="js/lib/packery.min.js"></script>
    <script>
    $(function(){

      var container = document.querySelector('#container');
      var pckry = new Packery( container, {
        // options
        itemSelector: '.item',
        gutter: ".gutter-sizer",
        rowHeight: 0
      });
    })
    </script>
  </div>
</div>
<div style="clear: both;"></div>