<%
  var date = item.datePublished.split('.')[0].split('T');
  var datePartOne = date[0];
  var datePartTwo = date[1];
  var date = new Date(date[0] + ' ' + date[1]);
%>
<a href="<%= item.url %>" target="_blank">
  <p><%= item.description ? item.description : item.name %></p>
  <div style="clear: both;"></div>
  <hr>
  <p class="footer-grab">
    <%= item.author.name ? item.author.name : item.author[0].name %><br/>
    <%= date.toLocaleString() %>
  </p>
  <div class="profile-pix-miny" <% if(item.author[0]) { %>style="background: url(<%= item.author[0].image.contentURL %>) no-repeat; background-size:cover;" <% } %>></div>
</a>