<%
  var widthCol;
  var type;
  var num = Math.floor((Math.random()*4)+2);
  widthCol = "col" + parseInt(num);

  if (item.itemType === "VideoObject"){
    type = "video";
  } else if (item.itemType === "BlogPosting") {
    type = "image";
  } else {
    type = "text";
  }

  var date = item.datePublished.split('.')[0].split('T');
  var datePartOne = date[0];
  var datePartTwo = date[1];
%>

<div class="item <%= widthCol %>">
  <% if(type == "video") { %>
    <embed class="pull-left <%= widthCol %>" src="<%= item.embedURL %>" type="video/webm"/>
    <p><%= item.description %></p>
    <hr>
    <p class="footer-grab"><%= item.author[0].name %><br/><%= datePartOne %> <%= datePartTwo %></p>
  <% } else if (type == "image") { %>
    <a href="<%= item.url %>">
      <img class="pull-left" src="<%= item.image.contentURL %>" alt="">
      <p><%= item.description %></p>
      <div style="clear: both;"></div>
      <hr>
      <p class="footer-grab"><%= item.author.name %><br/><%= datePartOne %> <%= datePartTwo.split('Z')[0] %></p>
    </a>
  <% } %>
  
  <div class="profile-pix-miny"></div>
</div>
