<a href="<%= this.model.attributes.url %>" target="_blank">
  <div class="itemEvent" style="height: 130px; width:200px; background: url(<%= item.image.contentURL ? item.image.contentURL : "layout-img/tedxfrance-placeholder.png" %>) no-repeat 50%;  -webkit-background-size: cover; background-size: cover;"></div>
  <div style="clear:both"></div>
  <h6 class="address-event"><%= item.name %></h6>
  <span class="address-event"><%= item.startDate %></span><br/><span class="address-event"><%= T('à') %> <%= item.address %></span>
</a>
